.fade-hover-card {
    transition: background-color 0.1s linear;
    cursor: pointer;
}

.fade-hover-card:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.dangSetHTML *:first-of-type {
    margin-top: 0px;
}

.dangSetHTML *:last-of-type {
    margin-bottom: 0px;
}